<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
  <h1> <%= title %> </h1>
  <button id="getButton" type="button" class="btn btn-default">GET</button>
  <button type="button" class="btn btn-default">POST</button>
  <button type="button" class="btn btn-default">PUT</button>
  <button type="button" class="btn btn-default">DELETE</button><br><br>
  <form>
    <input type="text" name="titulo" placeholder="Título">
    <input type="text" name="descripcion" placeholder="Descripción">
    <input type="text" name="duracion" placeholder="Duración">
    <input type="text" name="aforo" placeholder="Aforo">
    <input type="text" name="lugar" placeholder="Lugar">
    <input type="text" name="organizador" placeholder="Organizador">
  </form>
  <p>Volver al Index: <a class="button" href="http://localhost:5000/">Index</a></p>
  </body>
  <script type="text/javascript">
    document.getElementById("getButton").onclick = function () {
      location.href = "/eventos";
    };
  </script>
</html>
