<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= mensaje %></h2>
    <h3>Dale click a la ruta que desee: </h3>
    </br>
    <ul>
      <li>
        <p>Ruta de Eventos: <a class="button" href="http://localhost:5000/eventos">Eventos</a></p>
      </li>
      <li>
        <p>Ruta de Organizadores: <a class="button" href="http://localhost:5000/organizadores">Organizadores</a></p>
      </li>
      <li>
        <p>Ruta de Lugares: <a class="button" href="http://localhost:5000/lugares">Lugares</a></p>
      </li>
      <li>
        <p>Ruta de Tiempo: <a class="button" href="http://localhost:5000/tiempo">Tiempo</a></p>
      </li>
    </ul>
  </body>
</html>
