<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1> <%= title %> </h1>
  <button id="getButton" type="button" class="btn btn-default">GET</button>
  <form method="post">
    <input type="text" name="idLugar" placeholder="ID">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="ubicacion" placeholder="Ubicación">
    <input type="text" name="ciudad" placeholder="Ciudad">
    <input type="submit" value="PUT">
  </form>
  <p>Volver al Index: <a class="button" href="http://localhost:5000/">Index</a></p>
  </body>
  <script type="text/javascript">
    document.getElementById("getButton").onclick = function () {
      location.href = "/lugares";
    };
  </script>
</html>
